

@{
    ViewBag.Title = "In Class Work";
}

<h2 style ="text-align:center">Work Page</h2>
<h2 style="color:blue;align-content:center;font-style:italic; text-align:center">In Class Work</h2>
<h3 style="color:blue;align-content:center; text-align:center">GitHub</h3>
<h3 style="color:blue;align-content:center; text-align:center">mbludorn@github.com</h3>


<div
        <li class =" tab1" data-url ="@Url.Action("Tab1", "Work")"></li>
    <a href="@Url.Action("Index", "Poker")">
        Poker
    </a>
    
    </div>
<div>
        <li class =" tab2" data-url ="@Url.Action("Tab2", "Work")"></li>
    <a href="@Url.Action("Index","GuessThatNumber")">
        Guess That Number
    </a> 
    <div>       
    <li class =" tab3" data-url ="@Url.Action("Tab3", "Work")"></li>
    <a href="@Url.Action("Index", "Hangman")">
    Hangman
</div>


